#!/bin/sh

## Set the ENV environmental variable.

# This should be initialized here in a login shell and then all
# non-login+interactive (NL+I) shells started from here will source
# that in addition to this.

# this script sets interactive specific things:
# - aliases
# - prompt customization

# many interactive specific options are shell specific (i.e. not POSIX
# or other standard shell) with the exception of aliases.

export ENV="$BIMHAW_DIR/active/shells/sh/interactive.sh"

## Funcs

. "$BIMHAW_DIR/active/shells/sh/funcs.sh"


## Environments

. "$BIMHAW_DIR/active/shells/sh/login_env.sh"
