#!/bin/sh

# this is the target file for adding in the various environment init
# scripts for the shell

# the names of the envs to source

envs={{ sh_nonlogin_envs }}

# source each env there
for env in $envs; do
    . "$SHELL_ENV_DIR/${env}.sh"
done
