#!/bin/sh

## Prompt customization

none_prompt="BIMHAW_NONE_PROFILE_SPECIAL_STRING"

prompt={{ sh_prompt }}

if [ "$prompt" != "$none_prompt" ]; then
    . "$BIMHAW_DIR/active/lib/sh/prompts/${prompt}.sh"
fi
